*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   }

body{
     background: url(bkg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.header{
 background-color: #020245;
 top:0;
 left:0;
 width:100%;
 height:10vh;
 position: fixed;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 z-index:100;
 border: none;
}
.portfolio{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: white;
    opacity: 0;
    animation: slideright 1s ease forwards;
}
.navbar a{
    display: inline-block;
    margin-left:30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: .3s;
    animation: slideTop 1s ease forwards;
}
.navbar a:hover{
    color: #FFBA08;
}
.home{
    position:relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    background: url(Pink\ and\ Blue\ Neon\ Facebook\ Profile\ Picture.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.name{
   max-width: 600px;
   margin: auto 40px ;
   color: white;
}
.name h3{
    font-size:30px;
    animation: slideTop 1s ease forwards;
}
.name h1{
    font-size:40px;
    margin-bottom: 2px;
    animation: slideright 1s ease forwards;
    animation-delay: .2s;

}
.social{
    max-width:500px;
    max-height: 30px;
    color:white;
    margin-top:40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.social a{
    font-size: 30px;
    color: #c70972;
    animation: slideright 1s ease forwards;
    animation-delay: .2s;
}

.social a:hover{
color:#FFBA08;
}

.about{
    position:relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    background: url(Pink\ and\ Blue\ Neon\ Facebook\ Profile\ Picture.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.aboutText{
    margin: auto 40px;
    color:white;
    max-width: 600px ;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sub-title{
    text-align: center;
    margin-top: 40px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height:500px;
    padding: 75px 90px;
    margin-left: 120px;
   } 
   .heading1{
    text-align: center;
    text-decoration:underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
   }

   .bar{
    font-size: 23px;
   }
   .Technical-bars .bar{
    margin-top: 40px 0
   }
   .Technical-bars .bar:first-child{
    margin-top: 0;
   }
   .Technical-bars .bar:last-child{
    margin-top: 0;
   }
   .Technical-bars .bar .info{
    margin-bottom:5px;
   }
   .Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation:  showText 0.5s 1s linear forwards ;
   opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
   animation:animate 1s cubic-bezier(1,0,0.5,1)forwards;
   transform: scaleX(0);
   transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color:#c70972 ;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin:left ;
}
.progress-line.html span{
    width: 90%;
} 
.progress-line.css span{
    width: 65%;
} 
.progress-line.javaScript span{
    width: 50%;
} 
.progress-line span::after{
    position: absolute;
    padding: 1px 0px;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content:"90%";
}
.progress-line.css span::after{
    content:"65%";
}
.progress-line.javaScript span::after{
    content:"50%";
}
.progress-line span::before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width:opx ;
    border-top-color: #000000;
    top: -10px;
    right: 0;
    animation:showText 0.5s 1.5s linear forwards ;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}


.main-text{
    padding-top: 130px;
    margin-top: 20px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: #FFBA08;
}
.portfolio-content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 95%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 80%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.1),#e00d8f) ;
  position: absolute;
  border-radius: 8px;
  left:0 ;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition:height 0.5s;
}
.layer p{
    color: black;
    font-size: 1rem;
    line-height: 1.8;
}
.layer h5{
    color: #020245;
}
.layer i{
    color: #c70972 ;
    margin-top: 40px ;
    font-size:20px;
    background: #020245;
    width: 60px;
    height:60px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}

.Contact{
    margin-top: 200px;
    height: 100vh;
    width: 100%;
    padding: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

} 
.contact-container{
    margin-top: 100px;
    width: 50%;
    height: 500px;
}
.contact{
    font-size: 50px;
}
.me{
    font-size: 35px;
    margin-bottom: 5px;
}
.contact-container h4{
    animation: slideright 1s ease forwards;
    animation-delay: .2s;
}
.contact-list li{
 list-style: none;
 margin-bottom: 10px;
}
.contact-social{  
    max-width:500px;
      max-height: 20px;
      margin-top:30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }

  .contact-social a{
    font-size: 20px;
    color: #c70972;
    animation: slideright 1s ease forwards;
    animation-delay: .2s;
 }
 .contact-social a:hover{
    color:#FFBA08;
    }
    
form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    max-height: 600px;
    gap: 5px;
}
form input , #msg {
outline: none;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 4px;
  background-color: azure;
  color: black;
}
#msg{
 resize: none;
    height: 200px;
    padding-top: 8px;
}
input[type="submit"]{
    background-color: #e00d8f;
    font-size: 1rem;
}
#submit-btn:hover{
background-color: #FFBA08;
border: .7px solid black;
}

.end{
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}

























@keyframes slideright{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}



